@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nova+Flat&family=Oswald:wght@200..700&display=swap');

table {
    border: 1.7px solid rgb(52, 76, 131);
    border-radius: 5px 5px 5px 5px;
    width: 500px;
    height: 300px;
    color: rgb(54, 75, 80);
}

.table1 {
    float: left;
    margin: 8px;
}

table tr {
    text-align: center;
}

#fri {
    color: rgb(70, 191, 5);
}

#sun {
    color: crimson;
}

table {
    background-color: rgba(233, 244, 246, 0.338);
}

/* table tr th {
    color: rgb(73, 106, 184);
} */


#cap {
    color: rgb(73, 106, 184);
    background-color: rgba(113, 166, 246, 0.603);
    font-size: 40px;
    font-family: "0swald", monospace, monospace, sans-serif;
    /* font-weight: bold; */
    border: 1.5px solid rgb(52, 76, 131);
    border-radius: 5px 5px 5px 5px;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 1);
}

a:hover {
    background-color: rgba(170, 209, 202, 0.548);
    font-size: 15px;


}

.-para {
    color: rgb(52, 76, 131);
    font-family: "fraunces", "nova flat", "Oswald", sans-serif;
    font-weight: 600;
    border: 1px solid rgb(73, 106, 184);
    border-radius: 5px;
    /* margin-right: 10px; */
    background-color: #494d5f21;
    line-height: 2.5;
    padding: 80px 100px;
    /* text-shadow: 2px 2px 1px rgb(113, 166, 246, 0.603); */
}

body {
    background-color: rgba(14, 12, 12, 0.119);
}

#rowback {
    background-color: rgba(102, 148, 255, 0.422);
    text-shadow: 1px 1px 1px rgba(3, 0, 0, 0.295);
    color: rgb(73, 106, 184);
}

.header {
    margin-left: 25pc;
    font-family: "oswald", sans-serif;
    color: rgb(52, 76, 131);
    letter-spacing: 2.3px;
    font-size: 40pt;
    text-shadow: 1px 1px 1px rgb(52, 76, 131);
}

.headercolor {
    background-color: rgba(113, 166, 246, 0.603);
    border: 2.5px solid rgb(52, 76, 131);
}

.div2 {
    margin-top: 8px;
    float: inline-start;
}

.table2 {
    float: left;
    margin: 10px;
    margin-top: 20px;
}

.div3 {
    margin: 8px;
    float: inline-start;
}

.table3 {
    float: left;
    margin: 10px;
    margin-top: 20px;
}

html {
    scroll-behavior: smooth;
}

nav ul li {
    list-style: none;
    padding: 10px;
    margin: 1px 15px;
    /* background-color: rgba(113, 166, 246, 0.603); */
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
}

a {
    color: rgb(52, 76, 131);
    text-decoration: none;
}

nav {
    border-radius: 6px;
    border: 2px solid rgb(52, 76, 131);
    background-color: rgb(173, 216, 230, 0.7);
    /* position: sticky;
    top: 10px;
    z-index: 1; */
}

td a:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

td abbr {
    text-decoration: none;
    color: #ccad07;
}

.dark-mode {
  background-color: #292929;
  
}

.dark-mode table{
    background-color: #292929;
    color: rgb(148, 183, 193);
    border: 1.7px solid rgb(148, 183, 193);
    
}
.dark-mode #cap, .dark-mode .headercolor {
    background-color: rgba(113, 166, 246, 0.603);
    color: rgb(148, 183, 193);
    border: 2.5px solid rgb(148, 183, 193);
}
.dark-mode .-para, .dark-mode .header{
    color: rgb(148, 183, 193);
}
.dark-mode #rowback{
     color: rgb(148, 183, 193);
     background-color: rgba(113, 166, 246, 0.603);
}
.dark-mode nav{
    border: 2px solid rgb(148, 183, 193);
    background-color: rgba(113, 166, 246, 0.603);
}
.dark-mode a{
    color: rgb(148, 183, 193);
}
.dark-mode .-para{
    border: 1px solid rgb(148, 183, 193);
}
button{
    color: white;
    background-color: rgba(113, 166, 246, 0.603);
    border: 1px solid white;
    font-family: 'fraunces', Tahoma, Verdana, sans-serif;
    margin: 4px;
    cursor: pointer;
}
.dark-mode button{
    color: black;
    background-color: rgb(173, 216, 230, 0.7);
    border: 1px solid grey;
    
}
.dark-mode a:hover{
    background-color: rgba(255, 255, 255, 0.2);
}
button{
    padding: 10px;
    margin: 1px 2px;
    text-transform: capitalize;
}
button:hover{
    background-color: black;
}
.dark-mode button:hover{
    background-color: white;

}
